.proj-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .proj-container {
    width: 80%;
  }
}

.proj-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.proj-section > h3 {
  color: var(--heading-color);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.4;
  margin: 0 0 8px 0;
}

.proj-section > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
