.proj-container {
  display: flex;
  justify-content: center;
  width: 75%;
}

.proj-section {
  flex-direction: column;
  h3 {
    text-decoration: underline dashed var(--accent-color) 2px;
    text-underline-offset: 3px;
  }
}
