.intro-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 50px;
}

.intro-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    h1, h3 {
        margin: 0;
        padding: 10px 0px;
    }
}

.about-section {
    margin: 0px 24px;
    padding: 8px 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: auto;
}