.about-container {
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}


.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    height: auto;
}