.nav-toggler {
  padding: 10px 10px;
  background-color: var(--accent-color);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  margin: 12px;
  cursor: pointer;
  z-index: 2;
  position: fixed;
}

.nav-sidebar {
  transform: translateX(-300px);
  transition: transform 0.6s ease-in, visibility 1s;
  visibility: hidden;
  position: fixed;
  display: flex;
  background-color: var(--base-bg-color);
  z-index: 1;
  max-height: 100vh;
  height: 100%;
  box-shadow: 5px 0px 5px rgb(8, 9, 9);
  border-radius: 10px;
}

.nav-panel {
  height: 100%;
  margin: 5px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.nav-sidebar.active {
  transform: translateX(0px);
  transition: transform 0.6s ease, visibility 1s;
  visibility: visible;
}

.nav-item-list {
  margin-right: 30px;
}

.nav-item {
  list-style-type: none;
  color: var(--base-text-color);
  margin-right: 15px;
  padding: 12px 5px;

  a {
    padding: inherit;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block; /* Required for transition */
    transition: transform 0.5s ease;
  }

  a:hover {
    transform: translateX(10px);
    text-decoration: underline dashed var(--accent-color) 2px;
    text-underline-offset: 6px;
  }
}
