.exp-container {
    display: flex;
    justify-content: center;
}

.exp-section {
    flex-direction: column;
    width: 75%;
}

.exp-card-container {
    display: flex;
}

.exp-duration {
    /* padding: 80px; */
    display: flex;
    align-items: center;
    flex-basis: 20%;
}

.exp-desc {
    padding: 20px;
    /* background-color: red; */
    flex-basis: 80%;
}

.exp-skill-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: flex-start;
    padding-inline-start: 0px;
}

.exp-skill {
    background-color: var(--accent-color);
    color: var(--base-bg-color);
    font-size: small;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 10px;
}