.container {
    border: 2px dashed var(--accent-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: absolute;
}

.main-container {
    display: flex;
    flex-basis: 80%;
    overflow: auto;
}