:root {
  --light-text: rgb(3, 37, 48);
  --accent-color: rgb(3, 37, 48); /*rgb(22, 220, 223);*/
  --base-bg-color: rgb(243, 243, 223);
  --base-hover-color: rgb(16, 51, 97);
  --base-hover-color-light: rgb(219, 219, 202);
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
    font-feature-settings: "liga" 1, "calt" 1;
  }
}

body {
  /* background-color: rgb(3, 22, 48); */
  background-color: var(--base-bg-color);
  color: var(--light-text);
}

@media only screen and (min-width: 800px) {
  .body {
    overflow: hidden;
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
